# Gradle
.gradle/
build/
**/build/

# Local configuration file (sdk path etc)
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/

# Mac/Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Keystore (如果有签名文件)
*.jks
*.keystore
**/key.properties

